<section class="fundamentals">

    <aside class="side-nav" role="navigation">
        <a href="fundamentals/#interpolation">Interpolation</a>
        <a href="fundamentals/#property-binding">Property Binding</a>
        <a href="fundamentals/#event-binding">Event Binding</a>
        <a href="fundamentals/#two-way-binding">Two-Way Binding</a>
        <a href="fundamentals/#assignments">Assignments</a>
    </aside>

    <div class="fundamentals-container container">

        <main class="content">

            <h1>Fundamentals</h1>

            <section id="interpolation">
                <h2>Interpolation</h2>
                <article>
                    <p>Mit &#123; &#123; Variable &#125; &#125; kannst du Werte aus der Component-Klasse direkt ins Template einsetzen. Neben Variablen lassen sich auch einfache Ausdrücke, String-Verknüpfungen und Ternary-Operatoren nutzen:</p>
                    <ul>
                        <li>Variablen ausgeben: <code>{{ myText }}</code></li>
                        <li>Ausdrücke auswerten: <code>{{ 5 + 5 }}</code></li>
                        <li>Strings konkatenieren: <code>{{ "Ich bin " + concat }}</code></li>
                        <li>Ternary-Operator nutzen: <code>{{ interpolationIsActive ? 'Aktiv' : 'Inaktiv'}}</code></li>
                        <li>Ist der Wert (Value) <code>undefined</code> oder <code>null</code>, dann ist der String leer!</li>
                    </ul>
                </article>
            </section>

            <section id="property-binding">
                <h2>Property Binding</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>

            <section id="event-binding">
                <h2>Event Binding</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>

            <section id="two-way-binding">
                <h2>Two-Way Binding</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>

            <section id="assignments">
                <h2>Assignments</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>


        </main>

    </div>

</section>