<section class="fundamentals">

    <aside class="side-nav" role="navigation">
        <a href="fundamentals/#interpolation">Interpolation</a>
        <a href="fundamentals/#property-binding">Property Binding</a>
        <a href="fundamentals/#event-binding">Event Binding</a>
        <a href="fundamentals/#two-way-binding">Two-Way Binding</a>
        <a href="fundamentals/#assignments">Assignments</a>
    </aside>

    <div class="fundamentals-container container">

        <main class="content">

            <h1>Fundamentals</h1>

            <section id="interpolation">
                <h2>Interpolation</h2>
                <article>
                    <p>Mit &#123; &#123; Variable &#125; &#125; kannst du Werte aus der Component-Klasse direkt ins Template einsetzen. Neben Variablen lassen sich auch einfache Ausdrücke, String-Verknüpfungen und Ternary-Operatoren nutzen:</p>
                    <ul>
                        <li>Variablen ausgeben: <code>{{ myText }}</code></li>
                        <li>Ausdrücke auswerten: <code>{{ 5 + 5 }}</code></li>
                        <li>Strings konkatenieren: <code>{{ "Ich bin " + concat }}</code></li>
                        <li>Ternary-Operator nutzen: <code>{{ interpolationIsActive ? 'Aktiv' : 'Inaktiv'}}</code></li>
                        <li>Ist der Wert (Value) <code>undefined</code> oder <code>null</code>, dann ist der String leer!</li>
                    </ul>
                </article>
            </section>

            <section id="property-binding">
                <h2>Property Binding</h2>
                <article>
                    <p>
                        Hiermit kann man in <code>[ ]</code> befindlichen Zielen, wie <code>[class]</code> oder <code>[id]</code> oder <code>[src]</code> usw. einen Wert zuweisen.
                    </p>
                    <ul>
                        <li>
                            <p>Interpolation : Hier wird durch die Zuweisung <code>disabled="&#123; &#123;isDisabled &#125; &#125;"</code> das Element disabled, obwohl <code>isDisabled = false</code> ist, denn <code>isDisabled</code> wird bei Interpolation immer als <strong>String</strong> behandelt!</p>
                            <p><i>Anmerkung: Durch Konvertieren von "false" in einen String nimmt HTML <code>isDisabled</code> als <code>true</code>an.</i></p>
                            <p class="examples">
                                <input type="text" value="{{ inputVal }}" disabled="{{ isDisabled }}">
                            </p>
                            <br><br>
                        </li>
                        <li>
                            <p>Property Binding : Hier wird durch die Zuweisung <code>[disabled]="isDisabled"</code> das Element nicht disabled, sondern disabled auf den <strong>Wert</strong> von <code>isDisabled</code> gesetzt. Hier <code>false</code>.</p>
                            <p>Das kann man sehr gut einsetzen, um die Eigenschaften von HTML-Elementen dynamisch und programmgesteuert steuern zu können. Zum Beispiel um...</p>
                            <ul>
                                <li>... die Quelle eines Bildes dynamisch festzulegen : <code>&#60;img [src]="userProfileUrl"&#62;</code></li>
                                <li>... einen Button zu toggeln : <code>&#60;button [disabled]="!isFormValid"&#62;</code></li>
                                <li>... CSS Klassen und Stile dynamisch hinzuzufügen oder zu entfernen : <code>&#60;div [class.active]="isItemSelected"&#62;</code></li>
                                <li>... das Attribute eines Elements zu ändern : <code>&#60;button [attr.aria-label]="ariaLabelText"&#62;</code></li>
                            </ul>
                            <p class="examples">
                                <input type="text" [value]="inputVal" [disabled]="isDisabled">
                            </p>
                            <br>
                            <p><i>Anmerkung: Es können mehrere gleichzeitig angewendet werden!</i></p>
                        </li>
                    </ul>
                </article>
            </section>

            <section id="event-binding">
                <h2>Event Binding</h2>
                <article>
                    <p>Hiermit kann ich einem HTML Element sagen, was passieren soll, wenn eine bestimmte Aktion durchgeführt wird. Zum Beispiel ein Mausklick, der eine Funktion aufruft.</p>
                    <ul>
                        <li><code>(click)="incr()"</code> zum Beispiel: <button (click)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(dblclick)="incr()"</code> zum Beispiel: <button (dblclick)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(mouseover)="incr()"</code> zum Beispiel: <button (mouseover)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(mouseleave)="incr()"</code> zum Beispiel: <button (mouseleave)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(mousedown)="incr()"</code> zum Beispiel: <button (mousedown)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(mouseup)="incr()"</code> zum Beispiel: <button (mouseup)="incr()">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(drag)="incr()"</code> zum Beispiel: <button (drag)="incr()" draggable="true">Interaktionen: {{ counter }}x geklickt.</button></li>
                        <li><code>(dragover)="incr()"</code> zum Beispiel: <button (dragover)="incr()" draggable="true">Interaktionen: {{ counter }}x .</button></li>
                        <li><code>(click)="reset()"</code> zum Beispiel: <button (click)="reset()">Reset Counter</button></li>
                    </ul>
                    <p><i>Anmerkung: Es kann bei <code>(click), (keydown), (input)</code> ein <code>$event</code> übergeben und im TS genutzt werden. Damit kann man z.B. Mauskoordinaten oder welche Taste gedrückt wurde analysiert werden.</i></p>
                </article>
            </section>

            <section id="two-way-binding">
                <h2>Two-Way Binding</h2>
                <article>
                    <p>Das ist die Besonderheit bei Angular. Two-Way Binding verknüpft Template und Component in beide Richtungen: Änderungen im Input aktualisieren die Variable, und Änderungen der Variable erscheinen sofort wieder im Template. Mit <code>ngModel</code> funktioniert das standardmäßig für <code>input, select und textarea</code>. Man muss zur Nutzung das <code>FormsModule</code> im TS importieren (für ngModel).</p>
                    <p>Dafür benutzt man "Banana in the box": <code>[()]</code>, was dann hier zu <code>[(ngModel)]="staticInput"</code> führt.</p>

                    <div class="binding-container">
                        <div>Eingabe: <input type="text" [(ngModel)]="staticInput"></div>
                        <div>Ausgabe: {{ staticInput }}</div>
                    </div>

                </article>
            </section>

            <section id="assignments">
                <h2>Assignments</h2>
                <article>
                    <h3>Mini Shop Calculator</h3>


                    <table>
                        <tr>
                            <th>Verkäufer</th>
                            <td><input type="text" [(ngModel)]="salesPerson"></td>
                        </tr>

                        <tr>
                            <th>Produktname</th>
                            <td>{{ prodName }}</td>
                        </tr>

                        <tr>
                            <th>Stückzahl</th>
                            <td>{{ pieces }}</td>
                        </tr>

                        <tr>
                            <th>Einzelpreis</th>
                            <td>{{ priceSingle }}</td>
                        </tr>

                        <tr>
                            <th>Menge:</th>
                            <td>{{ pieces }}</td>
                        </tr>

                        <tr>
                            <th>Zwischensumme:</th>
                            <td>{{ sumWithout }}</td>
                        </tr>

                        <tr>
                            <th>Rabatt:</th>
                            <td>{{ discount }}%</td>
                        </tr>

                        <tr>
                            <th>Gesamtpreis:</th>
                            <td>{{ sumTotal }}</td>
                        </tr>

                        <tr>
                            <th>Wurde verkauft von:</th>
                            <td>{{ salesPerson }}</td>
                        </tr>
                    </table>


                    <table>
                        <tr>
                            <td><button id="discount" (click)="toggleDiscount()" [ngClass]="isDiscount? 'isActiv' : ''">Rabatt Ja/Nein</button></td>
                            <td><button id="banana" (click)="activateButton('banane')" [ngClass]="this.fruits.banane.isActive ? 'isActiv' : ''">Banane</button>
                            <td><button id="orange" (click)="activateButton('orange')" [ngClass]="this.fruits.orange.isActive ? 'isActiv' : ''">Orange</button></td>
                            <td><button id="apple" (click)="activateButton('apple')" [ngClass]="this.fruits.apple.isActive ? 'isActiv' : ''">Apfel</button></td>
                        </tr>
                    </table>

                </article>
            </section>

        </main>

    </div>

</section>