<section class="fundamentals">

    <aside class="side-nav" role="navigation">
        <a href="fundamentals/#interpolation">Interpolation</a>
        <a href="fundamentals/#property-binding">Property Binding</a>
        <a href="fundamentals/#event-binding">Event Binding</a>
        <a href="fundamentals/#two-way-binding">Two-Way Binding</a>
        <a href="fundamentals/#assignments">Assignments</a>
    </aside>

    <div class="fundamentals-container container">

        <main class="content">

            <h1>Fundamentals</h1>

            <section id="interpolation">
                <h2>Interpolation</h2>
                <article>
                    <p>Mit &#123; &#123; Variable &#125; &#125; kannst du Werte aus der Component-Klasse direkt ins Template einsetzen. Neben Variablen lassen sich auch einfache Ausdrücke, String-Verknüpfungen und Ternary-Operatoren nutzen:</p>
                    <ul>
                        <li>Variablen ausgeben: <code>{{ myText }}</code></li>
                        <li>Ausdrücke auswerten: <code>{{ 5 + 5 }}</code></li>
                        <li>Strings konkatenieren: <code>{{ "Ich bin " + concat }}</code></li>
                        <li>Ternary-Operator nutzen: <code>{{ interpolationIsActive ? 'Aktiv' : 'Inaktiv'}}</code></li>
                        <li>Ist der Wert (Value) <code>undefined</code> oder <code>null</code>, dann ist der String leer!</li>
                    </ul>
                </article>
            </section>

            <section id="property-binding">
                <h2>Property Binding</h2>
                <article>
                    <p>
                        Hiermit kann man in <code>[ ]</code> befindlichen Zielen, wie <code>[class]</code> oder <code>[id]</code> oder <code>[src]</code> usw. einen Wert zuweisen.
                    </p>
                    <ul>
                        <li>
                            <p>Interpolation : Hier wird durch die Zuweisung <code>disabled="&#123; &#123;isDisabled &#125; &#125;"</code> das Element disabled, obwohl <code>isDisabled = false</code> ist, denn <code>isDisabled</code> wird bei Interpolation immer als <strong>String</strong> behandelt!</p>
                            <p><i>Anmerkung: Durch Konvertieren von "false" in einen String nimmt HTML <code>isDisabled</code> als <code>true</code>an.</i></p>
                            <p class="examples">
                                <input type="text" value="{{ inputVal }}" disabled="{{ isDisabled }}">
                            </p>
                            <br><br>
                        </li>
                        <li>
                            <p>Property Binding : Hier wird durch die Zuweisung <code>[disabled]="isDisabled"</code> das Element nicht disabled, sondern disabled auf den <strong>Wert</strong> von <code>isDisabled</code> gesetzt. Hier <code>false</code>.</p>
                            <p>Das kann man sehr gut einsetzen, um die Eigenschaften von HTML-Elementen dynamisch und programmgesteuert steuern zu können. Zum Beispiel um...</p>
                            <ul>
                                <li>... die Quelle eines Bildes dynamisch festzulegen : <code>&#60;img [src]="userProfileUrl"&#62;</code></li>
                                <li>... einen Button zu toggeln : <code>&#60;button [disabled]="!isFormValid"&#62;</code></li>
                                <li>... CSS Klassen und Stile dynamisch hinzuzufügen oder zu entfernen : <code>&#60;div [class.active]="isItemSelected"&#62;</code></li>
                                <li>... das Attribute eines Elements zu ändern : <code>&#60;button [attr.aria-label]="ariaLabelText"&#62;</code></li>
                            </ul>
                            <p class="examples">
                                <input type="text" [value]="inputVal" [disabled]="isDisabled">
                            </p>
                            <br>
                            <p><i>Anmerkung: Es können mehrere gleichzeitig angewendet werden!</i></p>
                        </li>
                    </ul>
                </article>
            </section>

            <section id="event-binding">
                <h2>Event Binding</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>

            <section id="two-way-binding">
                <h2>Two-Way Binding</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>

            <section id="assignments">
                <h2>Assignments</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta fuga eaque distinctio soluta, ab iusto esse quos molestiae deleniti quo nobis omnis dolor ipsum ut deserunt minus at magni necessitatibus.</article>
            </section>


        </main>

    </div>

</section>