@use '../../../styles/variables' as *;

.fundamentals {
    background-color: $color-bg;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 100%;
    max-width: 100%;
    color: $color-text;
}

.fundamentals-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 100px 0;
    max-height: calc(100% - $header-height - $footer-height);
    border: 2px solid red;
}

.side-nav {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0; 
    max-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    border: 2px solid yellow;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    gap: 16px;
    border: 2px solid green;
}

.content section {
    width: 100%;
    padding: 16px 16px 16px 16px;
    border: 2px solid blueviolet;
}