@use '../../../styles/variables' as *;

section {
  scroll-margin-top: 50px;
}

.directives {
    background-color: $color-bg;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: $color-text;
    position: relative;
    z-index: 1;
    min-height: calc(100dvh - $footer-height);
}

.directives-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.side-nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    background-color: $color-bg;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;

    a {
        padding-top: 8px;
        padding-bottom: 8px;

        &:first-child {
            padding-left: 10px; 
        }

        &:last-child {
            padding-right: 10px;
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
}

main {
    padding-top: 36px;
    padding-bottom: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content section {
    width: 100%;
    padding: 16px 16px 16px 16px;
    background-color: $color-sections;
    border-radius: $border-radius;
    box-shadow: rgba(0, 0, 0, 0.19) 3px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;
}

ul {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 32px;
}

.assignment-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 12px;
}

.btn {
    padding: 6px 12px;
    border-radius: 15px;
    background-color: $color-bg;
    border: none;
    transition: background 0.2s;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    transition: all 150ms ease-in-out;
}

#ngif .btn,
#atIfElse .btn,
#ngfor .btn {
    max-width: 200px;
}

#ngfor table {
    & tr {
        text-align: center;
    }

    & td {
        padding: 4px 8px;
    }
}

.btn:hover {
  transition: all 150ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 1px 1px, rgba(0, 0, 0, 0.23) 2px 2px 2px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.showCode {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: -12px;
    padding-left: 32px;
    overflow-x: auto;
}

#ngif .showCode,
#atIfElse .showCode {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    padding-left: 0px;
}

table {
  border-collapse: collapse;
  width: 300px;
}

th,
td {
  border: 1px solid #606060;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.w300 {
    width: 300px;
}



#switch {
    & .assignment-container {
        display: flex;
        flex-direction: row;
    }

    & .assignment {
        width: 380px;
        max-width: 380px;

        & label {
            font-weight: bold;
            display: block;
            font-size: 16px;
        }

        & h4 {
            padding-top: 16px;
        }
    }

    & .assignmentCode {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }
}

#atSwitch {
    & .assignment-container {
        display: flex;
        flex-direction: row;
    }

    & .assignment {
        width: 380px;
        max-width: 380px;

        & label {
            font-weight: bold;
            display: block;
            font-size: 16px;
        }

        & h4 {
            padding-top: 16px;
        }
    }

    & .assignmentCode {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }
}

#ngclass {
    & .assignment-container {
        display: flex;
        flex-direction: row;
    }

    & .assignmentCode {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }

    .button {
        text-align: center;
        max-width: 20%;
        min-width: 200px;
        border-radius: 60px;
        padding: 4px 12px;
        cursor: pointer;
        height: 32px;
        user-select: none;
        -webkit-user-select: none;
    }

    &.lightMode {
        background-color: $color-sections;
        color: $color-text;

        & .btn-lightmode {
           background-color: $color-bg;
        }
    }

    &.darkMode {
        background-color: $color-surface-alt;
        color: $color-bg;
        
        & .btn-lightmode {
           background-color: $color-text;
        }
    }
}


#ngstyle {
    & .assignment-container {
        display: flex;
        flex-direction: row;
    }

    & .assignmentCode {
        display: flex;
        flex-direction: column;
        padding-top: 12px;
    }

    & .change-btn {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding-bottom: 16px;
    }

    & .btn {
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
    }


}

#assignments {

    & .assignment-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 12px;
    }

    & .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .output {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
        margin-left: 24px;
        background-color: $color-bg;
        min-width: 400px;
        line-height: 120%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;
        padding: 8px 16px;
        max-width: 300px;

        & div {
            border-radius: 8px;
            padding: 4px 8px;
        }
    }

    .fire {
        background-color: red;
        color: $color-bg;
    }

    .gras {
        background-color: green;
        color: $color-bg;
    }

    .water {
        background-color: blue;
        color: $color-bg;
    }

    .electro {
        background-color: yellow;
    }

    .earth {
        background-color: brown;
        color: $color-bg;
    }
}

#questions {

    & .assignment-container {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 12px;
    }

    & .list {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    & .output {
        display: flex;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
        margin-left: 24px;
        background-color: $color-bg;
        min-width: 600px;
        line-height: 120%;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;
        padding: 8px 16px;
        max-width: 300px;

        & div {
            border-radius: 8px;
            padding: 4px 8px;
        }
    }

    & .output {

        & .btn {
            background-color: $color-sections;
        }
    }

    & .answer {
        background-color: $color-sections;
        cursor: pointer;
    }
}

.btn-green {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    background-color: green;
}

@media (max-width: 1440px) {
    main {
        padding-left: 36px;
        padding-right: 36px;
    }
}