<section class="directives">

    <aside class="side-nav" role="navigation">
        <a href="directives/#ngif">*ngIf</a>
        <a href="directives/#ngfor">*ngFor</a>
        <a href="directives/#ngswitch">*ngSwitch</a>
        <a href="directives/#ngclass">ngClass</a>
        <a href="directives/#ngstyle">ngStyle</a>
        <a href="directives/#atIfElse">&#64;if / &#64;else</a>
        <a href="directives/#assignments">Assignments</a>
    </aside>

    <div class="directives-container container">

        <main class="content">

            <h1>Directives</h1>

            <section id="ngif">
                <h2>ngif</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="ngfor">
                <h2>*ngFor</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="ngSwitch">
                <h2>*ngSwitch</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="ngclass">
                <h2>ngclass</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="ngstyle">
                <h2>ngstyle</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="atIfElse">
                <h2>&#64;if / &#64;else</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>

            <section id="assignments">
                <h2>Assignments</h2>
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit.</article>
            </section>


        </main>

    </div>

</section>