<section class="templates">

    <aside class="side-nav" role="navigation">
        <a href="directives/#ngContainer">ng-container</a>
        <a href="directives/#ngTemplate">ng-template</a>
        <a href="directives/#ngTemplateOutlet">ngTemplateOutlet</a>
        <a href="directives/#assignments">Assignments</a>
        <a href="directives/#questions">Questions</a>
    </aside>

    <div class="templates-container container">

        <main class="content">

            <h1>Templates</h1>
            <p>sdfkljhjsdfhjsdfhjsdkjlf.</p>
            <p>sdfsdfsdf sdf sdf</p>
            <ul>
                <li><strong>ng-container</strong>: bla bla bla.</li>
                <li><strong>ng-template</strong>: bla bla bla.</li>
                <li><strong>ngTemplateOutlet</strong>: bla bla bla.</li>
            </ul>
            <p>bla bla bla.</p>
            <br>


            <section id="ngContainer">
                <h2>ng-container</h2>
                <article>
                    <p><code>*ngFor</code> bla bla.</p>
                    <div class="assignment-container">
                        <div class="flex-row">
                            <div>
                                ksdfhs jdkfhsjkdfh skjdf
                            </div>
                            <div class="showCode">
                                <pre [innerText]=""></pre>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="ngTemplate">
                <h2>ng-template</h2>
                <article>
                    <p>bla bla bla</p>
                    <p>bla bla bla</p>
                    <div class="assignment-container">
                        <div class="flex-row">
                            <div>
                                ksdfhsjdkfhsjkdfhskjdf
                            </div>
                            <div class="showCode">
                                <pre [innerText]=""></pre>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="ngTemplateOutlet">
                <h2>ngTemplateOutlet</h2>
                <article>
                    <p>bla bla bla</p>
                    <p>bla bla bla</p>
                    <div class="assignment-container">
                        <div class="flex-row">
                            <div>
                                ksdfhsjdkfhsjkdfhskjdf
                            </div>
                            <div class="showCode">
                                <pre [innerText]=""></pre>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="assignments">
                <h2>Kleiner Pokedex</h2>
                <p>Hier zeige ich kurz und an einfachen Beispielen das mögliche Zusammenspiel der oben erklärten Directiven.</p>
                <article class="assignment-container">
                </article>
            </section>


            <section id="questions">
                <h2>Einige Verständnisfragen zum Thema</h2>
                <p></p>
                <article class="assignment-container">
                </article>
            </section>            

        </main>

    </div>

</section>