<section class="templates">

    <aside class="side-nav" role="navigation">
        <a href="templates/#ngContainer">ng-container</a>
        <a href="templates/#ngTemplate">ng-template</a>
        <a href="templates/#ngTemplateOutlet">ngTemplateOutlet</a>
        <a href="templates/#assignments">Assignments</a>
        <a href="templates/#questions">Questions</a>
    </aside>

    <div class="templates-container container">

        <main class="content">

            <h1>Templates</h1>
            <p>In Angular gibt es verschiedene Möglichkeiten, DOM-Elemente zu gruppieren, um Logik anzuwenden, ohne das Layout oder die Performance negativ zu beeinflussen:</p>
            <ul>
                <li><strong>ng-container</strong>: Eine logische Klammer für Direktiven (wie <code>&#64;for</code> oder <code>&#64;if</code>), die selbst nicht im DOM erscheint und somit CSS-Layouts wie Flexbox und Grid nicht stört.</li>
                <li><strong>ng-template</strong>: Ein definierter HTML-Block, der standardmäßig unsichtbar ist und erst durch eine Bedingung oder manuelle Aufforderung an einer bestimmten Stelle "gezeichnet" wird.</li>
                <li><strong>ngTemplateOutlet</strong>: Eine "Einsetz-Hilfe", mit der man ein bereits definiertes <code>ng-template</code> an einer oder mehreren beliebigen Stellen im Dokument wiederverwendet und einfügt.</li>
            </ul>
            <br>

            <section id="ngContainer">
                <h2>ng-container</h2>
                <article>
                    <p>Der <code>ng-container</code> ist ein nicht-rendernder Gruppierungs-Host und kann keine Styles / Klassen tragen. Er kann sehr gut zur Gruppierung von DOM-Elementen genutzt und somit die Verwendung zusätzlicher <code>&#60;div&#62;</code>-Wrapper reduziert werden. Dies vermeidet insbesondere störende zusätzliche Ebenen und erhöht so die Layout-Sicherheit zum Beispiel bei Flexbox und Grid. Der <code>ng-container</code> Befehl wird beim Kompilieren aufgelöst. Daher kann er nicht Klassen in den DOM übertragen.</p>
                    <div class="assignment-container">
                        <div class="show">
                            <div class="showCode">
                                <p>Codebeispiel mit DIV</p>
                                <pre [innerText]="ngContainerWithout"></pre>
                            </div>
                            <div class="showCode">
                                <p>Codebeispiel mit ng-container</p>
                                <pre [innerText]="ngContainerWith"></pre>
                            </div>
                            <div class="showCode">
                                <p>Code mit ng-container (Check Dev-Tools)</p>
                                <ng-container>
                                    <p><i>Ich bin der Beweis!</i></p>
                                    <p><i>Bitte schau in den</i></p>
                                    <p><i>Devtools nach der Gruppierung!</i></p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="ngTemplate">
                <h2>ng-template</h2>
                <article>
                    <p>Ist ein Template-Element, mit dessen Hilfe man einen Codeblock definieren und mehrmals verwenden kann. Um den <code>ng-template</code> anzusprechen, muss dieser eine Referenzvariable haben. Ebenso wie <code>ng-container</code> erschafft <code>ng-template</code> auch kein eigenes Element im DOM sondern wird beim Kompilieren entfernt.</p>
                    <p>Der von <code>ng-template</code> umschlossene Inhalt wird nur gerendert, wenn das Template über eine Bedingung oder einen Outlet referenziert wird (z. B. via <code>*ngIf</code>, <code>&#64;if</code> oder <code>ngTemplateOutlet</code>).</p>
                    <p><code>ng-template</code> muss explizit aufgerufen werden. Das geschieht üblicherweise per <code>*ngIf</code> innerhalb eines <code>div</code> oder <code>ng-container</code>, kann aber aber auf Umwegen mit Hilfe von <code>ngTemplateOutlet</code> oder direkt per TyüeScript aufgerufen werden.</p>
                    <p><strong>Achtung:</strong> In den meisten Fällen ist <code>&#64;if</code> die bessere Wahl, denn <code>ng-template</code> hat seine Stärken mittlerweile nur noch bei Wiederverwendung oder dynamischem Einsätzen.</p>
                    <div class="assignment-container">
                        <div class="flex-row">
                            <div class="box">
                                <div class="input-container">
                                    <input id="templateinput" type="text" [(ngModel)]="user" />
                                    @if (user == '') {
                                        <label for="templateinput">Name</label>
                                    }
                                </div>
                                <!-- ng-container dient hier nur als Host für die else-Verzweigung -->
                                <ng-container *ngIf="user !== ''; else notValid"></ng-container>
                                <ng-template #notValid>
                                    <h4>Bitte Namen eingeben!</h4>
                                </ng-template>
                            </div>
                            <div class="showCode">
                                <pre [innerText]="ngTemplateCode"></pre>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="ngTemplateOutlet">
                <h2>ngTemplateOutlet</h2>
                <article>
                    <p>bla bla bla</p>
                    <p>bla bla bla</p>
                    <div class="assignment-container">
                        <div class="flex-row">
                            <div>
                                ksdfhsjdkfhsjkdfhskjdf
                            </div>
                            <div class="showCode">
                                <pre [innerText]=""></pre>
                            </div>
                        </div>
                    </div>
                </article>
            </section>

            <section id="assignments">
                <h2>Kleiner Pokedex</h2>
                <p>Hier zeige ich kurz und an einfachen Beispielen das mögliche Zusammenspiel der oben erklärten Directiven.</p>
                <article class="assignment-container">
                </article>
            </section>


            <section id="questions">
                <h2>Einige Verständnisfragen zum Thema</h2>
                <p></p>
                <article class="assignment-container">
                </article>
            </section>            

        </main>

    </div>

</section>