<section>

    <main class="container">

        <div class="tiles">
            <a routerLink="/fundamentals" class="tile">
                <h2>Fundamentals</h2>
                <p>Interpolation, Property Binding, Event Binding, Two-Way Binding</p>
            </a>

            <a routerLink="/directives" class="tile">
                <h2>Directives</h2>
                <p>*ngIf, *ngFor, *ngSwitch, ngClass, ngStyle, &#64;if/&#64;else, &#64;for</p>
            </a>
        </div>
    </main>

</section>