@use '../../../styles/variables' as *;

.tiles {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.tile {
  flex: 1;
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid $color-border;
  text-decoration: none;
  color: inherit;
  transition: background 0.2s;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 3px 3px, rgba(0, 0, 0, 0.23) 4px 4px 4px;
}

.tile:hover {
  background: $color-sections;
}
