@use '../../../styles/variables' as *;

footer {
    position: relative;
    width: 100%;
    background-color: $color-bg;
    height: $footer-height;
    max-height: $footer-height;
    box-shadow: rgba(0, 0, 0, 0.19) 0px -2px 2px, rgba(0, 0, 0, 0.23) 3px -3px 3px;
    z-index: 3;
}