@use '../../../styles/variables' as *;

footer {
    position: relative;
    height: $footer-height;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background: $color-bg;
    color: $color-text;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px -2px 2px, rgba(0, 0, 0, 0.23) 3px -3px 3px;
}

.contentFooter {
    width: 100%;
    padding: 24px 100px;
    place-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cRight       {     
    grid-area: copy;  
    font-size: 23px;
    line-height: 1.2;
}

.footerIconContainer { 
    grid-area: social; 
    justify-self: end; 
    display: flex; 
    gap: 16px; 
}

.legalWrap    {  
  grid-area: legal;
  display: flex; 
  gap: 8px; 
  align-items: center;
  justify-self: start;
  
  a{                        
    color: $color-text; 
    text-decoration: none;
    
    &:hover{ 
        color: $color-tertiary; 
    }
  }
}

.footerIconContainer a{
  display:inline-flex; 
  align-items:center; 
  justify-content:center;
  width: 44px; 
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.2);
}

.icon { 
    width: 24px; 
    height: 24px; 
    display:block;
    filter: invert(1) brightness(0.2);
    transition: background 125ms ease-in-out;

    &:hover {
      transition: background 225ms ease-in-out;
      filter: invert(0) brightness(1);
      background: $color-secondary;
    }
}