<footer class="footer">

  <section class="contentFooter container" aria-label="Content">
   

        <nav class="legalWrap">
            <a href="" >Impressum</a>
            <span aria-hidden="true"> | </span>
            <a href="" >Datenschutz</a>
        </nav>    

        <span class="cRight">© Meik Behr 2025</span>
        
        <div class="footerIconContainer">
            <a class="icon" href="https://github.com/MeikBehr" target="_blank" rel="noopener noreferrer" aria-label="GitHub">
                <img src="assets/img/github.png" alt="GitHub">
            </a>
            <a class="icon" href="mailto:info@develobehr.de" rel="noopener noreferrer" aria-label="Send Email">
                <img src="assets/img/mail.png" alt="Email Icon">
            </a>
            <a class="icon" href="https://www.linkedin.com/in/meik-behr-477aa7273/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
                <img src="assets/img/linkedIn.png" alt="LinkedIn">
            </a>
        </div>

  </section>

</footer>